@use '../../util/util.scss';

.tabs {
  .tabsHeader {
    ul,
    a {
      list-style: none;
      text-decoration: none;
    }

    ul {
      display: flex;
      width: 100%;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      cursor: pointer;
      user-select: none;
      padding: var(--paddingM) var(--paddingL);

      position: relative;
      border-radius: var(--borderRadius);
      transition: var(--transition);
      color: var(--text200);

      .item {
        z-index: 3;
      }

      &.selected {
        color: var(--text100);
      }

      &[data-hover='false'] {
        margin: var(--marginS);

        &:hover {
          background: var(--bg300);
          color: var(--text100);
        }
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      background: var(--text400);
      border-radius: var(--borderRadius);
      z-index: 2;
    }
  }

  .tabsContent {
  }
}
