@use '../../util/util.scss';

.card {
  color: var(--text200);
  background-color: var(--bg300);
  box-shadow: var(--dropShadow);
  padding: var(--paddingXL);
  margin: var(--marginM) 10px 0px;
  border-radius: var(--borderRadius);
  width: 100%;
}
