.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  padding: 5px;

  &.animation:hover {
    transform: scale(1.2);
  }
}

.fontS {
  width: var(--fontS) !important;
  height: var(--fontS) !important;
}

.fontM {
  width: var(--fontM) !important;
  height: var(--fontM) !important;
}

.fontL {
  width: var(--fontL) !important;
  height: var(--fontL) !important;
}
.fontXL {
  width: var(--fontXL) !important;
  height: var(--fontXL) !important;
}
