@use '../../util/util.scss';
@import '../../util/scss/styles.scss';

$class: 'button';
$hover: $class + '_hover';
$active: $class + '_active';
// $after: $class + '_after';
// $before: $class + '_before';
$vars: (
  'cursor',
  'transition',
  'background',
  'color',
  'font',
  'border',
  'box-shadow',
  'padding',
  'filter'
);

@include setVars(
  (
    cursor: pointer,
    transition: unset,
    background: unset,
    color: unset,
    font: var(--fontM) Arial,
    border: unset,
    box-shadow: unset,
    padding: unset,
    filter: unset
  ),
  ($class, $hover, $active)
);

.button {
  @include getVars($vars, $class, $class);

  &:enabled {
    &:hover {
      @include getVars($vars, $hover, $class);
    }

    &:active {
      @include getVars($vars, $active, $class);
    }
  }
}

// position: relative;
// background-image: linear-gradient(to right, hsl(211, 100%, 50%), hsl(179, 100%, 30%));
// z-index: 1;

// &::before {
//   position: absolute;
//   content: '';
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-image: linear-gradient(to bottom, hsl(344, 100%, 50%), hsl(31, 100%, 40%));
//   z-index: -1;
//   transition: opacity 0.5s linear;
//   opacity: 0;
// }

// .button {
//   transition: var(--transition);
//   color: var(--text200);
//   background-color: var(--bg200);
//   font-size: var(--fontM);
//   border-radius: var(--borderRadius);
//   activedding: var(--activeddingS) var(--activeddingL);
//   box-shadow: var(--dropShadow);
//   cursor: pointer;
//   border: var(--border) var(--text400);
//   font-weight: var(--weightMedium);
//   margin: var(--marginM);

//   &:enabled {
//     &:hover {
//       background-color: var(--bg300);
//       transform: scale(1.05);
//     }

//     &:active {
//       transition: none;
//       box-shadow: var(--innerShadow);
//       transform: scale(1);
//     }
//   }

//   &.primary {
//     color: var(--text100);
//     border-color: var(--primary);
//     //font-weight: var(--weightBold);
//     background-color: var(--primary20);
//     &:enabled {
//       &:hover {
//         background-color: var(--primary70);
//         border-color: var(--primary);
//       }
//     }
//   }
// }
