@use '../../util/util.scss';

.toast {
  background-color: var(--bg300);
  width: 100%;
  padding: var(--paddingXL);
  margin: var(--marginM);
  border-radius: var(--borderRadius);
  white-space: wrap;
  word-break: break-all;
  box-shadow: var(--dropShadow);
  position: relative;
  z-index: 10;

  .error {
    background-color: var(--error);
  }

  .success {
    background-color: var(--error);
  }
}
