@import '../util/scss/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
  font-family: Poppins, sans-serif;
}

//Variables
:root {
  //--button-background: blue;
  //--button-color: green;

  --black: black;
  --white: white;

  // Text
  --text100: #eeeeee;
  --text200: #d5d5d5;
  --text300: #696969;
  --text400: #262626;

  // Background
  --bg100: #141414;
  --bg200: #1a1a1a;
  --bg300: #1e1e1e;

  // Primary
  --primary: #796aff;
  --primary70: #796aff70;
  --primary20: #796aff20;

  // Secondary
  --secondary: #3121bd;
  --secondary70: #3121bd70;
  --secondary20: #3121bd20;

  // Tag Background: --primary but 10% lighter
  --tagBg: #6051e6;

  // Shadow
  --dropShadow: 0px 3px 5px 0px #00000020;
  --dropShadowHover: 0px 3px 10px 0px #00000070;
  --innerShadow: inset 0px 3px 5px 0px #00000050;

  // Font
  --fontS: 12px;
  --fontM: 14px;
  --fontL: 16px;
  --fontXL: 20px;
  --fontXXL: 32px;

  --weightLight: 300;
  --weightNormal: 500;
  --weightBold: 700;

  // Border
  --borderRadius: 5px;
  --border: 2px solid;
  --error: #ff6a6a;

  // Padding
  --padding0: 0px;
  --paddingS: 4px;
  --paddingM: 8px;
  --paddingL: 12px;
  --paddingXL: 16px;

  // Margin
  --margin0: 0px;
  --marginS: 4px;
  --marginM: 8px;
  --marginL: 12px;
  --marginXL: 16px;

  // Modal Background
  --modal: 0, 0, 0, 0.5;

  // Transition
  --transition: all 0.2s ease-in-out;

  // Navbar
  --navbarHeight: 65px;

  // Mobile Menu Sidebar height
  --mobileMenuButtonHeight: 50px;

  // Media Query
  --mobile: (max-width: 640px);
  --tablet: (max-width: 768px);
}

.dark {
  //default root variables
}

.light {
  // Text
  --text100: #2a2a2a;
  --text200: #585757;
  --text300: #969696;
  --text400: #eeeeee;

  // Background
  --bg100: #fafafa;
  --bg200: white;
  --bg300: #f7f7f7;

  // --primary but 10% lighter
  --tagBg: #9384ff;

  // Shadow
  --dropShadow: 0px 2px 5px 0px #00000020;
  --dropShadowHover: 0px 3px 10px 0px #00000030;
  --innerShadow: inset 0px 3px 5px 0px #00000010;

  // Border
  --borderRadius: 5px;
  --border: 2px solid;
}

body {
  background-color: var(--bg100);
  color: var(--text200);
}

h1 {
  font-size: var(--fontXXL);
  color: var(--text100);
}

h2 {
  font-size: var(--fontXL);
  color: var(--text200);
}

h3 {
  font-size: var(--fontL);
  color: var(--text200);
}

h4 {
  font-size: var(--fontM);
  color: var(--text200);
}

h5 {
  font-size: var(--fontS);
  color: var(--text200);
}
