@use '../../util/util.scss';

.footer {
  transition: var(--transition);
  padding: var(--paddingXL);
  background-color: var(--bg300);
  .footerItem {
    padding: var(--paddingXL);
  }
}
@media only screen and (max-width: 640px) {
  .footer {
    flex-direction: column !important;
  }
}
