@use '../../util/util.scss';

.imageGallery {
  width: 100%;
  min-height: 400px;
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 1fr 0fr 0fr;
  position: relative;
  overflow: hidden;

  .next,
  .prev {
    width: 50px;
    height: 100%;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    align-self: center;

    svg {
      line {
        transition: var(--transition);
        box-shadow: var(--dropShadow);
      }
    }
    &:hover {
      svg {
        line {
          stroke: var(--text100);
        }
      }
    }
  }

  .next {
    grid-area: 1 / 3 / 3 / 4;
  }

  .prev {
    grid-area: 1 / 1 / 3 / 2;
    transform: scale(-1);
  }

  > img {
    grid-area: 1 / 1 / 3 / 4;
    position: absolute;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &[data-imageobjectfit='contain'] {
    > img {
      object-fit: contain;
    }
  }

  &[data-imageobjectfit='fill'] {
    > img {
      object-fit: fill;
    }
  }

  &[data-imageobjectfit='cover'] {
    > img {
      object-fit: cover;
    }
  }

  .paginateContainer {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    z-index: 2;
    padding: var(--paddingM);

    .paginate {
      padding: 5px;
      margin: var(--marginS);
      border-radius: 50%;
      background-color: var(--text200);
      cursor: pointer;
      box-shadow: var(--dropShadow);

      &.overlay {
        position: absolute;
        background: var(--primary);
        z-index: 3;
      }
    }
  }

  .thumbnailContainer {
    grid-area: 3 / 1 / 4 / 4;
    z-index: 2;
    display: flex;
    overflow-x: auto;

    height: 110px;

    .thumbnail {
      height: 70px;
      object-fit: cover;
      cursor: pointer;
      padding: 10px 10px 10px 0px;
    }
  }
}
