@use '../../util/util.scss';

.imageGallery {
  width: 100%;
  min-height: 400px;
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 1fr 0fr;
  position: relative;
  overflow: hidden;

  .next,
  .prev {
    width: 50px;
    height: 100%;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    align-self: center;
  }

  .next {
    grid-area: 1 / 3 / 3 / 4;
  }

  .prev {
    grid-area: 1 / 1 / 3 / 2;
    transform: scale(-1);
  }

  img {
    grid-area: 1 / 1 / 3 / 4;
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 100%;
  }

  .paginateContainer {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    z-index: 2;
    padding: var(--paddingM);

    .paginate {
      padding: 5px;
      margin: var(--marginS);
      border-radius: 50%;
      background-color: var(--text200);
      cursor: pointer;
      box-shadow: var(--dropShadow);

      &.overlay {
        position: absolute;
        background: var(--primary);
        z-index: 3;
      }
    }
  }
}
