@use '../../util/util.scss';

.input {
  transition: var(--transition);
  width: 100%;
  input {
    transition: var(--transition);
    color: var(--text200);
    background-color: var(--bg200);
    border-radius: var(--borderRadius);
    padding: 6px 12px;
    box-shadow: var(--dropShadow);
    cursor: text;
    border: var(--border) var(--text400);
    width: 100%;
    font-size: var(--fontM);

    &::placeholder {
      color: var(--text300);
    }

    &.icon {
      padding-left: 30px;
    }

    &:focus {
      background-color: var(--bg300);
    }
  }
}

// .input {
//   display: flex;
//   flex-direction: column;
//   margin: var(--marginM);
//   div {
//     display: flex;
//     align-items: center;
//     font-size: var(--fontL);
//     font-weight: var(--weightNormal);
//     position: relative;

//     input {
//       transition: var(--transition);
//       color: var(--text200);
//       background-color: var(--bg200);
//       border-radius: var(--borderRadius);
//       padding: 6px 12px;
//       box-shadow: var(--dropShadow);
//       cursor: text;
//       border: var(--border) var(--text400);
//       width: 100%;
//       font-size: var(--fontM);

//       &::placeholder {
//         color: var(--text300);
//       }

//       &.icon {
//         padding-left: 30px;
//       }

//       &:focus {
//         background-color: var(--bg300);
//       }
//     }

//     .password {
//       z-index: 1;
//       transform: translate(-30px, 0);
//       height: 100%;
//       cursor: pointer;
//       display: flex;

//       svg {
//         z-index: 1;
//         position: unset;
//         padding: 5px;
//       }

//       &.scaleS {
//         input {
//           padding-right: 25px;
//         }
//       }

//       &.scaleM {
//         input {
//           padding-right: 30px;
//         }
//       }

//       &.scaleL {
//         input {
//           padding-right: 30px;
//         }
//       }
//       &.scaleXL {
//         input {
//           padding-right: 35px;
//         }
//       }
//     }
//   }

//   &.error {
//     input {
//       border: var(--border) var(--error);
//     }
//   }

//   &.icon {
//     svg {
//       z-index: 1;
//       position: absolute;
//       left: 10px;
//     }
//     &.scaleS {
//       input {
//         padding-left: calc(var(--fontS) + 17px);
//       }
//     }

//     &.scaleM {
//       input {
//         padding-left: calc(var(--fontM) + 17px);
//       }
//     }

//     &.scaleL {
//       input {
//         padding-left: calc(var(--fontL) + 17px);
//       }
//     }
//     &.scaleXL {
//       input {
//         padding-left: calc(var(--fontXL) + 17px);
//       }
//     }
//   }
// }
