@use '../../util/util.scss';

$navbar-height: 65px;

.layout {
  width: 100%;

  &[data-type='default'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    > :nth-child(1) {
      height: $navbar-height;
      position: fixed;
      width: 100%;
    }

    > :nth-child(2) {
      margin-top: $navbar-height;
      width: 100%;
    }

    > :nth-child(3) {
    }
  }

  &[data-type='docs'] {
    background-color: var(--bg100);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: $navbar-height 1fr;
    grid-template-areas:
      'logo tabs'
      'navigation content';

    > :nth-child(1) {
      grid-area: logo;
      border-bottom: solid 1px var(--text400);
    }

    > :nth-child(2) {
      grid-area: tabs;
      border-bottom: solid 1px var(--text400);
    }

    > :nth-child(3) {
      grid-area: navigation;
      border-right: solid 1px var(--text400);
      overflow-y: auto;
      height: calc(100vh - $navbar-height);
    }

    > :nth-child(4) {
      grid-area: content;
      overflow-y: auto;
      height: calc(100vh - $navbar-height);
      display: flex;
      justify-content: center;
      width: 100%;

      > div {
        width: 100%;
        min-width: 0px;
        max-width: 800px;
        margin-top: 50px;
        padding: 0 var(--paddingXL);
      }
    }
  }
}
