.componentWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0fr 0fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .component {
    padding: 50px 0px;
    display: flex;
    align-items: center;
  }
  .props {
    display: flex;

    flex-direction: column;
    margin-left: 40px;

    .wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .code {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.componentWrapperFlex {
  display: flex;
  flex-direction: column;

  .component {
    overflow-x: auto;
  }

  .props {
    display: flex;
    flex-direction: column;
    margin-left: 0px;

    .wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 640px) {
  .componentWrapper {
    display: flex;
    flex-direction: column;

    .component {
      overflow-x: auto;
    }

    .props {
      display: flex;
      flex-direction: column;
      margin-left: 0px;

      .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}
